/* style.css */
div.longtext p{
	padding-bottom: 1em;
	text-indent: 30pt;
	text-align: justify;
	max-width: 30em;
	line-height: 1.25;
	margin: auto
}
div.shorttext p{
	text-indent: 0pt;
	text-align: left;
	max-width: 30em;
	line-height: 1.25;
	margin: auto
}
div.longtext p.int{ background-color: #E0E0E0 }
h1{ text-transform:uppercase; text-align:center }
h2, h4{ text-align:center; font-weight:normal }
small{ font-variant: small-caps }
div.longtext b{ position: relative; right: 5em }
div.st{ text-decoration: line-through }
div.outline ol{ list-style-type: upper-roman }
div.outline ol ol{ list-style-type: upper-alpha }
div.outline ol ol ol{ list-style-type: decimal }
div.outline ol ol ol ol{ list-style-type: lower-alpha }
div.head img{ border: none }
div.main p{
	text-indent: 0pt;
	text-align: left;
	max-width: 30em;
	line-height: 1.25;
	margin: auto;
	clear: both
}
div.main img{
	vertical-align: top;
	padding: 0.5em;
	margin: 0.25em;
}
div.main li  { font-size: 100%; text-decoration: none }
div.main li a{ font-size: 100%; text-decoration: none }
hr.half{ width: 50% }
div.index{
	clear: both;
	text-align: center;
	max-width: 30em;
	margin: auto;
	line-height: 1.25
}
div.tiny{
	text-align: center;
	color: #C0C0C0;
	font-size: x-small;
	font-family: arial, sans-serif;
}
div.tiny img{
	border: none
}